* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: sans-serif;
    font-size: 1.25rem;
    background-color: white;
    font-family: Arial;
    color: #353839;
    letter-spacing: -0.005rem;
  }
  
  .overallContainer {
    overflow: auto;
    align-items: center;
    margin-bottom: 0;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 0.5rem;
    padding: 2rem;
  }
  

  .title {
    display: inline-block;
  }
  
  .nav-link {
    display: inline-block;
    width: 35px;
    height: 35px;
  }
  .star {
    display: inline-block;
    width: 35px;
    height: 35px;
    fill: none;
    margin-top: 0rem;
  }
  
  .container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -2rem;
  }
  
  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: strong;
    letter-spacing: 0.5rem;
    text-shadow: 
    2px 2px 3px #cccccc;
  
  }
  
  h1,
  h2 {
    color: #353839;
  }
  h2 {
    font-size: 1.5rem;
  }
  .introduction {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    color: #353839;
  
    font-size: 1.25rem;
    width: auto;
    padding: 0.5rem;
  }
  .introduction,
  .answer {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .instruction {
    padding-top: 3.5rem;
    margin-bottom: 0rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .message {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  @-moz-document url-prefix() {
    .instruction {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }
  .flagName,
  .instruction,
  .intro,
  .feedback {
    color: #242424;
    font-size: 1.25rem;
    margin-top: -1rem;
  }

  .flagName {
    margin-bottom: 3.5rem;
  }
  @-moz-document url-prefix() {
    .flagName {
      margin-bottom: 2rem;
    }
  }
  .feedback {
    margin-top: 2.5rem;
  }
  .intro {
    margin-top: -0.5rem;
  }
  .showFlag {
    margin-top: -1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .newFlag {
    margin-top: 1rem;
  }
  .reset {
    margin-top: -2rem;
  }
  
  @-moz-document url-prefix() {
    .reset {
      margin-top: -1rem;
    }
  }
  
  .getGameScore {
    text-align: center;
  }
  
  .answer {
    font-size: 1.25rem;
    text-align: center;
    border: 1px solid;
    border-color: #242424;
    display: absolute;
    margin-top: -2.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    
  }
  @-moz-document url-prefix() {
    .answer {
      margin-top: 1.75rem;
    }
  }
  @-moz-document url-prefix() {
    .answer {
      margin-bottom: 1.75rem;
    }
  }
  
  .radio-button input[type="radio"]:checked + label {
    background-color: #76cf9f;
  }
  displayflag .submitButton {
    margin-bottom: 2rem;
  }
  
  a {
    font-size: 1rem;
  }
  
  @-moz-document url-prefix() {
    .wrapup {
      position: relative;
      top: -2rem;
    }
  }
  
  .labelTimer {
    font-size: 1.25rem;
    margin-top: 0rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
  
    border: solid #242424 0.5px;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .practiceMode {
    background-color: #CED9CF;
  }
  
  .finishGameMessage {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -5rem;
    padding-bottom: 0rem;
    color: #242424;
  }
  
  @-moz-document url-prefix() {
    .finishGameMessage {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }
  
  .practiceAtResults{
    margin-top: 3rem;
  }
  
  .startNewGame {
    text-align: center;
    margin-top: 6rem;
  }
  
  .finishGameInstruction {
    position: relative;
  
    text-align: center;
  }
  
  .popupHeading {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
  
  .helpContent,
  .statsContent {
    margin: 0rem 5rem;
    text-align: center;
  }
  .how-to:hover,
  .stat-icon:hover {
    cursor: pointer;
  }
  
  .nav-link:hover,
  .nav-link:active {
    color: #777;
  }
  .statsContainer {
    display: flex;
    justify-content: center;
  }
  .helpContainer {
    display: flex;
    justify-content: center;
  }
  
  .statsContent,
  .helpContent {
    height: auto;
    width: 50%;
    background-color: #eae6e6;
    border: 2px solid #242424;
    border-radius: 5px;
  }
  .statsContent {
    min-height: 15rem;
  }
  .statsText {
    margin-bottom: 0.5rem;
  }
  .helpText,
  .statsText {
    margin-top: -2rem;
  }
  
  .statsText,
  .helpText {
    text-align: center;
    margin-right: 3rem;
    margin-left: 3rem;
    padding: 0.5rem;
  }
  .shareResults {

    margin-top: -2rem;
  }
  @-moz-document url-prefix() {
    .share2{
 margin-top: 1.5rem;
    
    }
  }

  .dailyGameButton{
    display: none;
    margin-top: -4rem;
  }
  .close {
    text-align: right;
  }
  
  .closeButtonHelp,
  .closeButtonStats {
    text-align: right;
    font-weight: 700;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-right: 2rem;
    color: #333;
    display: block;
  }
  
  .closeButtonHelp:hover,
  .closeButtonStats:hover,
  .closeButtonHelp:active,
  .closeButtonStats:active {
    color: #777 !important;
    background-color: transparent;
    cursor: pointer;
  }
  
  button {
    color: #ffffff;
    background-color: #1f5124;
    cursor: pointer;
    border-color: #1f5124;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  button:hover,
  button:active {
    color: #ffffff !important;
    background-color: #2e7b36;
    border-color: #2e7b36;
    cursor: pointer;
  }
  .copyright {
    text-align: center;
    margin-top: 1rem;
  }
  
  .option {
    visibility: hidden;
    padding: 0.5rem;
  }
  .countryButtonClasses {
    margin-top: 0.5rem;
  }
  
  @-moz-document url-prefix() {
    .countryButtonClasses {
      margin-top: -2rem;
    }
  }
  
  a {
    font-size: 1.25rem;
    color: #6d6875;
  }
  a:hover,
  a:active {
    color: #b5838d;
  }
  .footer {
    text-align: center;
    display: block;
  }
  
  .coffee {
    font-size: 1.25rem;
    margin-top: 6.5rem;
  }
  .coffee a {
    font-size: 1rem;
  }
  @media (max-width: 1000px) {
    .statsContent,
    .helpContent {
      width: 80%;
    }
  }
  @media (max-width: 565px) {
    .dailyGameButton {
      width: 80%;
      margin-bottom: 2rem;
    }
  }
  
  @media (max-width: 450px) {
    .statsContent,
    .helpContent {
      width: 95%;
      margin: 0 1rem;
    }
  }
  