/*Preparation
#B4ECB6,#258F2B #2EB435 #E4801B #C86400 #242424 #1F5124 #27662D

Font size: 10; 20; 32; 48

Font: Arial
*/
*{
 margin: 0px;
  padding: 0px;

}

body{font-family:sans-serif;
font-size: 10px;
background-color:white;
font-family: Arial;
color: #242424;
letter-spacing: -0.005rem}
.overall-container{
    display: absolute;
}

nav{
    display: flex;
    align-items: center;
    gap: 12rem;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 1.5rem;
}
.title{
    display: inline-block;
}

.nav-link{
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    text-align: center;


}

h1{
    text-transform: uppercase;
    font-size: 2rem; 
    text-decoration: strong; 
    letter-spacing: 0.5rem;
}

h1, h2{
    color: #242424;
}

.intro, .answer{
    font-size: 1.25rem;
    font-weight: 700;
   
}

.message{
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.start, .instruction{
    color: #242424;
    font-size: 1.25rem;
    margin-top: 1.5rem;
}

#cGuess{
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

button{
    color: #ffffff !important;
    background-color: #1F5124;
    cursor: pointer;
    border-color: #1F5124;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
 
}

button:hover, button:active{
    color: #ffffff !important;
    background-color: #2E7B36;
    border-color: #2E7B36;
    cursor: pointer;
}

/* Popup container */

 
  /* The actual popup (appears on top) */


 

  /*Popup Close Button*/

  
  /* Help Popup */
.help-popup, .stats-popuptext{
    display: none;
    background-color: white;
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    padding: 1.5rem; 
}

  .help-popup:fullscreen, .stats-popuptext:fullscreen{
    display: none;
    background-color: white;
    position: absolute;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;

    top: -30rem;
    margin-top: -40rem;
    right: 0%;

  
  }
  .help-text, .stats{
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;

  }
  .popupCloseButton-help, .popupCloseButton{
    display: flex; 
    justify-content: right; 
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    margin-right: 5rem;
    margin-top: -1rem;
  
   
  }
  

